canvas {
  border: 1px solid black;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container {
  border: 1px solid #ccc;
  padding: 42px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#ui {
  display: flex;
  flex-direction: row;
}

#foregroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gridCanvas {
  display: none;
  position: absolute;
  pointer-events: none; 
  z-index: 2;
}

#playerCanvas {
  display: block;
  position: absolute;
  pointer-events: none; 
  z-index: 3;
}

#canvasContainer {
  display: none;
  position: relative;
  width: 1280px;
  height: 896px;
}

#gameInfo {
  flex-direction: column;
  align-items: center;
  display: none;
}

#errorMessage {
  color: red;
  display: none;
}

#tilesetContainer {
  width: 512px;
  height: 896px;
  overflow: auto;
  border: 1px solid black;
  display: none;
}

#tilesetCanvas {
  background-color: #fff;
  border: 1px solid black;
}

#gameCanvas {
  background-color: #eee;
  border: 1px solid black;
}

#hud {
  display: none;
  margin-top: 16px;
}

#health-bar-container {
  width: 200px;
  height: 20px;
  border: 2px solid #000;
  background-color: #ddd;
  margin: 10px;
  position: relative;
}

#health-bar {
  height: 100%;
  width: 100%;
}

#health-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}
